{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-runtime", "transform-vue-jsx"],
  "env": {
    "production": {
      "comments": false,
      "presets": [
        ["env", { 
          "modules": false,
          "targets": {
            "browsers": ["last 2 versions", "ie >= 7", "safari >= 7", "Android >= 6"]
          }
        }],
        "stage-2"
      ]
    }
  }
}